{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!--käyttäjän etusivu-->
<h1>Käyttäjän {{user_logged_in.kayttajatunnus}} ruoka-arkisto</h1>

<p><br/>
    <a class="btn btn-primary" href="{{base_path}}/ruokalajit">Kaikki ruokalajit</a>
    <a class="btn btn-success" href="{{base_path}}/ruoka/new">Lisää ruoka</a>
</p>

<p><br/>
    <a class="btn btn-primary" href="{{base_path}}/kategoriat">Kaikki kategoriat</a>
</p>

<p><br/>
    <a class="btn btn-primary" href="{{base_path}}/ainekset">Kaikki ainekset</a>
</p>

<!--hakutoiminto-->

<p><br/>
    <a href="{{base_path}}/settings" class="btn btn-default">Asetukset</a>
</p>

{% endblock %}