{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-info">
    {{message}}
</div>
{% endif %}

{% if errors %}
<ul>
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
</ul>

{% endif %}

<h1>Omat asetukset</h1><br/>

<h3><a href="{{base_path}}/update" class="text text-primary">Vaihda käyttäjänimi</a></h3>
<br/>

<h3><a href="{{base_path}}/update" class="text text-primary">Vaihda salasana</a></h3>
<br/>

<h3>Poista käyttäjätili</h3>
<p>
    <a href="{{base_path}}/delete" class="btn btn-danger">Poista</a>
</p>
{% endblock %}