{% extends "base.html" %}
{% block content %}

<h1>Tervetuloa Ruoka-arkistoon!</h1>
<br/>

<h2>Rekisteröidy käyttäjäksi</h2>

{% if message %}
<div class="alert alert-warning">
    {{message}}
</div>
{% endif %}

{% if errors %}
<div class =" alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

    <form method="post" action="{{base_path}}/signup">
    <div class="form-group">
      <label>Anna käyttäjätunnus:</label>
      <input type="text" class="form-control" name="username" value="{{kayttajatunnus}}">
    </div>

    <div class="form-group">
      <label>Anna salasana:</label>
      <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-success">Rekisteröidy</button>
  </form>

{% endblock %}