{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}


<h1>Käyttäjän {{user_logged_in.kayttajatunnus}} ruoka-arkisto</h1>

<p>
    <a href="{{base_path}}/ruoka/new" class="btn btn-success">Lisää ruoka</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Käyttökerrat</th>
            <th>Kommentti</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for ruoka in ruoat %}
        <tr>
            <td><a href="{{base_path}}/ruokalajit/{{ruoka.id}}">{{ruoka.nimi}}</td>

            <td>{{ruoka.kayttokerrat}}</td>
            <td>{{ruoka.kommentti}}</td>

            <th><a class="btn btn-default btn-sm" href="{{base_path}}/ruokalajit/{{ruoka.id}}/modify">Muokkaa</a></th>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}