{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-primary">
    {{message}}
</div>
{% endif %}

<h1>{{ruoka.nimi}}</h1>

<!-- Tiedot -->
<h3>Kategoriat</h3>
{% for kategoria in ruoka.kategoriat %}
<ul>
    <li>{{kategoria.nimi}}</li>
</ul>
{% endfor %}

<h3>Pääraaka-aineet</h3>
{% for aines in ruoka.ainekset %}
<ul>
    <li>{{aines.nimi}}</li>
</ul>
{% endfor %} 

<!-- Kommentti -->
<h3>Kommentti:</h3>
<p>
    {{ruoka.kommentti}}
</p><br/>


<p>
    <a href="{{base_path}}/ruokalajit/{{ruoka.id}}/modify" class="btn btn-default">Muokkaa</a>
    <a href="{{base_path}}/ruokalajit/{{ruoka.id}}/delete" class="btn btn-danger">Poista</a>
</p> 
<p>
    <a href="{{base_path}}/ruokalajit" class="btn btn-primary">Takaisin listaukseen</a>
</p>

<p>
<!--    <a href="{{base_path}}/tulokset" class="btn btn-primary">Takaisin hakutuloksiin</a>-->
</p>



{% endblock %}