{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}


<h1>Kaikki ruokalajit</h1>

<p>
    <a href="{{base_path}}/ruoka/new" class="btn btn-success">Lisää ruoka</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kommentti</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for ruoka in ruoat %}
        <tr>
            <td><a href="{{base_path}}/ruokalajit/{{ruoka.id}}">{{ruoka.nimi}}</td>

            <td>{{ruoka.kommentti}}</td>

            <td>
                <a class="btn btn-default" href="{{base_path}}/ruokalajit/{{ruoka.id}}/modify">Muokkaa</a>
                <a href="{{base_path}}/ruokalajit/{{ruoka.id}}/delete" class="btn btn-danger btn-sm">Poista</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}