{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-warning">
    {{message}}
</div>
{% endif %}

<h2>Haku</h2>

<form method="post" action ="{{base_path}}/haku">
    
    <h3>Hae hakusanalla</h3>
    <div class="checkbox">
        <label>Valitse vähintään yksi vaihtoehto</label><br/>
        <!--<label><input type="checkbox" name="own">oman arkiston ruokalajeista</label><br/>-->
        <label><input type="checkbox" name="all">kaikkien käyttäjien lisäämistä ruokalajeista</label><br/>
        <label><input type="checkbox" name="category">kategorioista</label><br/>
        <label><input type="checkbox" name="ingredient">aineksista</label><br/>
    </div>
    
    <label>Hakusana:</label>
    <input type='text' class='form-control' name='searchword'>
    <br/>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Hae</button>
    </div>
    
</form><br/>

<h3>Hae aineksen tai kategorian perusteella</h3><br/>
<form method="post" action ="{{base_path}}/haku">
    
    <div class="form-group">
        <label>Valitse aines</label>
        <select class="form-control" name="aines">
            <option>Valitse...</option>
            {% for aines in ainekset %}
            <option value="{{aines.id}}">{{aines.nimi}}</option>
            {% endfor %}
        </select>
    
        <button type="submit" class="btn btn-success">Hae</button>
    </div>
</form>

<br/>

<form method="post" action ="{{base_path}}/haku">

    <div class="form-group">
        <label>Valitse kategoria</label>
        <select class="form-control" name="kategoria">
            <option>Valitse...</option>
            {% for kategoria in kategoriat %}
            <option value="{{kategoria.id}}">{{kategoria.nimi}}</option>
            {% endfor %}
        </select>
        
        <button type="submit" class="btn btn-success">Hae</button>
    </div>
</form>



{% endblock %}