{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-warning">
    {{message}}
</div>
{% endif %}

<h2>Haku Ruoka-arkistosta</h2>

<form method="post" action ="{{base_path}}/haku">
    
    <h3>Hae...</h3>
    <div class="checkbox">
        <h4>(Valitse vähintään yksi vaihtoehto)</h4><br/>
<!--        <label><input type="checkbox" name="global">koko ruoka-arkistosta</label><br/>
        <label>TAI</label><br/>-->
        <label><input type="checkbox" name="own">vain oman arkiston ruokalajeista</label><br/>
        <label>TAI</label><br/>
        <label><input type="checkbox" name="all">kaikkien käyttäjien lisäämistä ruokalajeista</label><br/>
        <br/>
        <label><input type="checkbox" name="category">kategorioista</label><br/>
        <label><input type="checkbox" name="ingredient">aineksista</label><br/>
    </div>
    
    <label>Hakusana:</label>
    <input type='text' class='form-control' name='searchword'>
    <br/>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Hae</button>
    </div>
    
</form>

<!--haku aineksen tai kategorian perusteella-->

{% endblock %}