{% extends "base.html" %}
{% block content %}
  <h1>Lisää ruoka arkistoon</h1>

  <form method="post" action="{{base_path}}/ruoka">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="nimi" class="form-control">
    </div>

    <div class="form-group">
      <label>Kommentti</label>
      <input type="text" name="kommentti" class="form-control">
    </div>
      
<!--      tähän vielä ainesten ja kategorioiden lisääminen-->

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}