{% extends "base.html" %}
{% block content %}
  <h1>Makaronilaatikko</h1>
  <!-- Painikkeet -->
  <p>
    <a href="#" class="btn btn-default">Muokkaa</a> <button class="btn btn-danger">Poista</button> 
  </p>
  <!-- Tiedot -->
  <ul>
    <li><strong>Kategoria(t):</strong> Uuniruoka</li>
    <li><strong>Pääraaka-aineet:</strong> Pasta, Jauheliha</li>
    <li><strong>Käyttökerrat:</strong> 2</li>
  </ul>
  <!-- Kommentti -->
  <p>
    Jauhelihan voi halutessaan korvata soijarouheella tai tonnikalalla.
  </p>
{% endblock %}