{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän ruoka-arkisto</h1>

<p>
    <a href="#" class="btn btn-success">Lisää ruoka</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kategotriat</th>
            <th>Pääraaka-aineet</th>
            <th>Käyttökerrat</th>
            <th>Kommentti</th>
            <th>    </th>
        </tr>
    </thead>

    <tbody>
        {% for ruoka in ruoat %}
        <tr>
            <td><a href="{{base_path}}/ruokalajit/{{ruoka.id}}">{{ruoka.nimi}}</td>

            {% for kategoria in ruoka.kategoriat %}
            <td>{{kategoria}}</td>
            {% endfor %}

            {% for aines in ruoka.ainekset %}
            <td>{{aines}}</td>
            {% endfor %}

            <td>{{ruoka.kayttokerrat}}</td>
            <td>{{ruoka.kommentti}}</td>

            <th><a class="btn btn-default btn-sm" href="{{base_path}}/ruokalajit/{{ruoka.id}}/modify">Muokkaa</a></th>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}