{% extends "base.html" %}
{% block content %}


<div class="alert alert-success">
  {{message}}
</div>

  <h1>{{ruoka.nimi}}</h1>
  <!-- Painikkeet -->
  <p>
    <a href="{{base_path}}/ruokalajit/{{ruoka.id}}/modify" class="btn btn-default">Muokkaa</a>
    <a href="{{base_path}}/ruokalajit/{{ruoka.id}}/remove" class="btn btn-danger">Poista</a> 
  </p>
  <!-- Tiedot -->
  <ul>
    <li><strong>Kategoriat:</strong>{{ruoka.kategoriat}}</li>
    <li><strong>Pääraaka-aineet:</strong>{{ruoka.ainekset}}</li>
    <li><strong>Käyttökerrat:</strong> {{ruoka.kayttokerrat}}</li>
  </ul>
  <!-- Kommentti -->
  <p>
    {{ruoka.kommentti}}
  </p>
{% endblock %}