{% extends "base.html" %}
{% block content %}
  <h1>{{ruoka.nimi}}</h1>
  <!-- Painikkeet -->
  <p>
    <a href="#" class="btn btn-default">Muokkaa</a> <button class="btn btn-danger">Poista</button> 
  </p>
  <!-- Tiedot -->
  <ul>
    <li><strong>Kategoriat:</strong>{{ruoka.kategoriat}}</li>
    <li><strong>Pääraaka-aineet:</strong>{{ruoka.ainekset}}</li>
    <li><strong>Käyttökerrat:</strong> {{ruoka.kayttokerrat}}</li>
  </ul>
  <!-- Kommentti -->
  <p>
    {{ruoka.kommentti}}
  </p>
{% endblock %}